<!-- {{ title }}
<hr />
<input type="text" [(ngModel)]="name" />
<button (click)="onAddPersonal()">Добавить</button>
<hr />
<div
  *ngFor="
    let personal of personals;
    let personalIndex = index;
    let personalFirst = first;
    let personalLast = last;
    let personalEven = even;
    let personalOdd = odd
  "
>
  {{ personal.name }}
  <button (click)="onDeletePersonal(personalIndex)">X</button>
</div>
 -->
<div class="container">
  <div class="row">
    <h1>{{ title }}</h1>
  </div>
  <app-personal-form (personalAdd)="onAddPersonal($event)"></app-personal-form>
  <hr />
  <app-personal-element
    *ngFor="let personal of personals; let personalIndex = index"
    [inputPersonal]="personal"
    (personalDelete)="onDeletePersonal(personalIndex)"
  ></app-personal-element>
</div>
